body{
    background-color: powderblue;
}

section{
    display: flex;
    margin: 5px;

}

.display {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: salmon;
}

.calculator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #ffffff;
}

